<!-- <div class="container">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <h2 class="form-signin-heading">Login</h2>
        <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
        <br />
        <label for="username" class="sr-only">Email address</label>
        <input type="email" id="username" name="username" [(ngModel)]="credentials.username" class="form-control"
            placeholder="User Name" required>
        <br />
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="credentials.password" class="form-control"
            placeholder="Password" required>
        <br />
        <button class="btn btn-lg btn-primary" type="submit" [disabled]="!loginForm.valid">Log in</button>
    </form>
</div> -->
<!-- <section class="vh-100">
    <div class="container-fluid h-custom py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-7 col-lg-6 col-xl-5">
                <img src="../../../assets/images/Microsoft_Dynamics_Logo1.png"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-8 col-xl-4 offset-xl-1 col-9"> -->
<div id="header">
    <div id="login">{{'login.title' | translate}}</div>
    <div>{{'login.SubTitle' | translate}}</div>
</div>

<form #loginForm="ngForm" (ngSubmit)="login(loginForm)" [ngClass]="{'input':lang==='ar'}">
    <!-- Email input -->
    <div id="errorAlert" *ngIf="invalidLogin" class="alert alert-danger">{{'login.error' | translate}}</div>
    <span id="fake" style="display: none;"></span>
    <div class="form-outline mb-4">
        <input type="email" id="username" name="username" class="form-control form-control-lg"
            placeholder="{{'login.username.placeholder' | translate}}" [(ngModel)]="credentials.email" required />
        <!-- <label class="form-label" for="form3Example3">Email address</label> -->
    </div>

    <!-- Password input -->
    <div class="form-outline mb-3 text-lg-start">
        <input type="password" class="form-control form-control-lg" id="password" name="password"
            [(ngModel)]="credentials.password" placeholder="{{'login.password.placeholder' | translate}}" required />
        <!-- <label class="form-label" for="form3Example4">Password</label> -->
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <!-- Checkbox -->
        <div class="form-check mb-0">
            <!-- <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label> -->
        </div>
        <a [routerLink]="['/authentication/auth/3']" class="text-body lin">{{'login.forgotpassword.link' |
            translate}}</a>
    </div>

    <div class="text-center text-lg-start mt-4 pt-2">
        <div class="text-center">
            <button type="button" class="submit-button btn btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;width: 100%;" type="submit"
                [disabled]="!loginForm.valid">
                <div  *ngIf="lang!='ar'">
                    <span *ngIf="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    {{'login.button.name' | translate}}
                    <span *ngIf="loading" aria-hidden="true">...</span>
                </div>
                <div *ngIf="lang=='ar'">
                    <span *ngIf="loading" aria-hidden="true">...</span>{{'login.button.name' | translate}} <span
                    *ngIf="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                </div>
            </button>
        </div>
        <p class="small fw-bold mt-2 pt-1 mb-0 text-center">{{'login.toRegister' | translate}} <a
                class="link-primary lin" [routerLink]="['/authentication/auth/0']">{{'login.register.link' |
                translate}}</a></p>
    </div>
</form>
