<!-- Default dropup button -->

<!-- Section: Design Block -->
<mat-toolbar style="background-color: #003865;" class="nav-bar mat-elevation-z2">
    <span class="spacer"></span>
    <ng-container>
        <mat-icon>language</mat-icon>
        <button mat-button [matMenuTriggerFor]="menu">
            {{siteLanguage}}
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <a mat-menu-item *ngFor="let language of languageList" (click)="switchLang(language)">{{ language.label }}</a>
        </mat-menu>
    </ng-container>
</mat-toolbar>
<section class="text-center">
    <!-- Background image -->
    <div class="header p-5"></div>
    <!-- Background image -->
    <!-- background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg'); -->
    <!-- mx-5 mx-md-5 -->
    <div class="card  shadow-5-strong w-75 component">
        <section class="vh-80" style="height:min-content">
            <div class="container-fluid h-custom py-5 ">
                <div class="row d-flex justify-content-center align-items-center h-100 ">
                    <div class="col-md-7 col-lg-6 col-xl-5">
                        <img src="../../../assets/images/Microsoft_Dynamics_Logo1.png"
                            class="img-fluid d-none d-sm-block d-md-block" alt="Sample image">
                        <div *ngIf="lang!='ar'" class="copyRight mg-fluid d-none d-xl-block ">
                            <span style="font-size: 18px;">&copy;</span> {{'copyRight' | translate}} {{currentYear}}

                        </div>
                        <div *ngIf="lang=='ar'" class="ArcopyRight mg-fluid d-none d-xl-block ">
                            {{'copyRight' | translate}} {{currentYear}}  <span *ngIf="lang=='ar'" style="font-size: 18px;">&copy;</span>

                        </div>
                    </div>
                    <div class="col-md-8 col-lg-8 col-xl-4 offset-xl-1 col-9">
                        <div *ngIf="id==0">
                            <app-register-user></app-register-user>
                        </div>
                        <div *ngIf="id==1">
                            <app-login-user></app-login-user>
                        </div>
                        <div *ngIf="id==null">
                            <app-login-user></app-login-user>
                        </div>
                        <div *ngIf="id==2">
                            <app-password-user></app-password-user>
                        </div>
                        <div *ngIf="id==3">
                            <app-forgot-password></app-forgot-password>
                        </div>
                        <div *ngIf="id==4">
                            <app-reset-password></app-reset-password>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="id==2 && lang!='ar'" class="mb-5 mx-5 note"><strong>{{'AddPassword.note.title' | translate}}</strong> {{'AddPassword.note.body' | translate}}</div>
            <div *ngIf="lang=='ar' && id==2"class="mb-5 mx-5 Arnote">
                <strong>{{'AddPassword.note.title' | translate}}</strong> {{'AddPassword.note.body' | translate}}
            </div>
        </section>

    </div>
    <!-- <div class="bg-image" style="
    margin-top: -100px;
    background-color: #6E85B2;
    border-radius:50% ;
    height: 200px;
    width: 200px;
    right: 0;
    "></div> -->





</section>
<!-- Section: Design Block -->
<!-- <div class="dropDown">
    <span class="form-inline">
        <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
            <option *ngFor="let language of translate.getLangs()" [value]="language"
                [selected]="language === translate.currentLang">
                {{ language }}
            </option>
        </select>
    </span>
</div> -->

