<h2 style="color: rgb(81, 81, 81);">Modifier mon Compte</h2>
<mat-divider></mat-divider>

<form #imageForm=ngForm class="example-form">
    <div class="profile-card">
        <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80" alt="Soufiane FADIL" style="margin-top: 2%;">
    </div>

    <div class="form-outline mb-4">
        <input type="email" id="username" name="username" class="form-control form-control-lg"
            placeholder="Nom" style="width: 35%;height: 80%;"
            required/><br>
            <input type="email" id="username" name="username" class="form-control form-control-lg"
            placeholder="Prenom" style="width: 35%;height: 80%;"
            required/>
        <!-- <label class="form-label" for="form3Example3">Email address</label> -->
    </div>
</form>