<h2 style="color: rgb(81, 81, 81);">My account</h2>
<mat-divider></mat-divider>

<!-- <app-info-personnel></app-info-personnel> -->
<section style="background-color: #F9F9F9;" id="section" *ngIf="Data or notFound; else loading">
    <div class="container py-5">
        <div class="row">
            <div class="col">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <div class="headerOfUser">

                            <button mat-fab
                                style="background-color:#023f73 ;margin-top: 1%;position: relative;float: left;">
                                <mat-icon style="width: 100%;" routerLink="/dashboard/ModifierProfile">update</mat-icon>
                            </button>
                            <!-- 
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;"> -->
                            <!-- <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80"
                             class="rounded-circle img-fluid"
                                style="width: 150px;height: 150px;margin-right: 60px;"> -->
                            <img src={{UrlImage}} class="rounded-circle img-fluid"
                                style="width: 150px;height: 150px;margin-right: 60px;">
                        <!-- <img src={{Data?.entityimage}} class="rounded-circle img-fluid"
                                style="width: 150px;height: 150px;margin-right: 60px;"> -->
                        </div>
                        <h5 class="my-3" style="font-size: 25px;">{{Data?.firstname}} {{Data?.lastname}}</h5>
                        <p class="text-muted mb-1">{{Data?.jobtitle}}</p>
                        <p class="text-muted mb-4">At {{Data?.parentcustomerid_account.name}}</p>
                        <!-- <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary">Follow</button>
                <button type="button" class="btn btn-outline-primary ms-1">Message</button>
              </div> -->
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0" style="color: #3AB0FF;">Business Phone</p>
                                <p class="text-muted mb-0">{{Data?.telephone1}}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class=" mb-0" style="color: #3AB0FF;">Mobile Phone</p>
                                <p class="text-muted mb-0">{{Data?.mobilephone}}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class=" mb-0" style="color: #3AB0FF;">Fax</p>
                                <p class="text-muted mb-0">{{Data?.fax}}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class=" mb-0" style="color: #3AB0FF;">Email</p>
                                <p class="text-muted mb-0">{{Data?.emailaddress1}}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class=" mb-0" style="color: #3AB0FF;">Company Name</p>
                                <p class="text-muted mb-0">{{Data?.parentcustomerid_account.name}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- class="bg-image"
            style="
              background-image: url('https://th.bing.com/th/id/OIP.qwqIUdn3im-4G-vWDB94pQHaE6?pid=ImgDet&rs=1');
              height: fit-content;
              width: 100%;
              background-repeat: no-repeat;
            " -->
            <div class="col-lg-8" >
                <div class="card mb-4 " >
                    <div class="card-body " >
                        <div class="row">
                            <div class="col-sm-3">
                                <dt class="font-bold mb-0">First Name</dt>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{Data?.firstname}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <dt class="mb-0">Last Name</dt>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{Data?.lastname}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <dt class="mb-0">Birth Date</dt>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{Data?.birthdate}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <dt class="mb-0">Gender</dt>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{Data?.gendercode==1?"men":"women"}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <dt class="mb-0">Family status</dt>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{familyStatus[Data?.gendercode]}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <dt class="mb-0">Address 1</dt>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{Data?.address1_line1}}</p>
                            </div>
                        </div>
                        <div *ngIf="Data?.address1_line2==null">

                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <dt class="mb-0">Address 2</dt>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{Data?.address1_line2}}</p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="Data?.address1_line3==null">

                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <dt class="mb-0">Address 3</dt>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{Data?.address1_line3}}</p>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <dt class="mb-0">State or province</dt>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{Data?.address1_stateorprovince}}</p>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <dt class="mb-0">Postal Code</dt>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{Data?.postalcode}}</p>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <dt class="mb-0">Country</dt>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{Data?.address1_country}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <dt class="mb-0">Full Address</dt>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{Data?.address1_composite}}</p>
                            </div>
                        </div>





                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- <div class="spinner" *ngIf="showSpinner">

    <div>
        <span class="spinner-border spinner-border-sm mx-2" role="status"></span>Loading...
    </div>
</div>
<div class="spinner" id="spinner"></div> -->

<ng-template #loading>
    <div class="spinner">

        <div>
            <span class="spinner-border spinner-border-sm mx-2" role="status"></span>Loading...
        </div>
    </div>
    <div class="spinner" id="spinner"></div>
</ng-template>
