<form [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="registerUser(registerForm.value)">
    <!-- <div id="header">
        <div id="forgot">Add Password</div>
        <div>Passwords must have at least one non alphanumeric character, one uppercase and at least one digit</div>
    </div> -->
    <div *ngIf="showError" class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
    
    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
        {{successMessage}}
    </div>
    <div class="form-outline mb-3">
        <input type="password" class="form-control form-control-lg" id="password" name="password"formControlName="password"
            placeholder="Enter a Password" required/>
    </div>

    <div class="form-outline mb-3">
        <input type="password" class="form-control form-control-lg" id="confirm" name="confirm"formControlName="confirm"
            placeholder="Confirm the Password" required/>
    </div>
    <div *ngIf="isNotEqual" class="alert alert-danger">password don't match.</div>
    <div *ngIf="isError" class="alert alert-danger">{{errMessage}}</div>
    <!-- <div class="note">Note: Passwords must have at least one non alphanumeric character, one uppercase and at least one digit</div> -->
    <div class="text-center text-lg-start mt-4 pt-2">
        <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem;width: 100%;"type="submit" [disabled]="!registerForm.valid">
            <span *ngIf="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            confirme
            <span *ngIf="loading"  aria-hidden="true">...</span>
        </button>
        </div>
    </div>

</form>