#forgot{
    font-weight:bolder;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
#header{
    margin: 20px;
    font-size: 20px;
}
.note{
    position:absolute;
    left: 0%;
}
.submit-button{
    background-color: #003865;
    color:white;
}
