<mat-nav-list>
<div class="header"  >
    <h5 matSubheader ></h5>
    
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td style="color: rgb(77, 77, 77);font-size: small;"> <mat-icon style="color: grey;vertical-align:middle;">work</mat-icon><b>l'emploit:</b>  </td>
      </tr>
   
        <tr>
            <td style="color: rgb(77, 77, 77);font-size: small;">   <mat-icon style="color: grey;vertical-align: middle;">phone</mat-icon><b>téléphone 1: </b> </td>
          </tr>
          <tr>
            <td style="color: rgb(77, 77, 77);font-size: small;">   <mat-icon style="color: grey;vertical-align: middle;">phonelink_ring</mat-icon><b>mobile phone:</b>  </td>
          </tr>
          <tr>
            <td style="color: rgb(77, 77, 77); font-size: small;" class="h4">   <mat-icon style="color: grey;vertical-align: middle;">fax</mat-icon><b>fax:</b></td>
          </tr>
          <tr>
            <td style="color: rgb(77, 77, 77);font-size: small;">   <mat-icon style="color: grey;vertical-align: middle;">home</mat-icon><b>address 1 line1:</b> </td>
          </tr>
          <tr>
            <td style="color: rgb(77, 77, 77); font-size: small;" class="h4">   <mat-icon style="color: grey;vertical-align: middle;">home_filled</mat-icon><b>address1 line2:</b> </td>
       
          </tr>
        <br>
      
   </table>
</div>
</mat-nav-list>