h4{
    margin-top: 0;
    margin-bottom: 5px;
}
.total{
    font-size: 3em;
}
.mat-icon,.description{
    color:#00cecb;
    font-size: 2em;
}
.mat-icon{
    position:relative;
    padding:0;
    top: 5px;
    font-size: 35px;
}
.pours{
    margin-right: 15%;
    float:right;
}
h4{
    font-size: 18px;
    
}
.lost{
color:#a10220;
}
.won{
    color: #487a72;
}
.open{
    color: #f6aa1c;
}
