#reset{
    font-weight:bolder;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 25px;
}
#header{
    margin: 20px;
    font-size: 20px;
}
.req em{
    margin-top: -10px;
    color: red;
    float: left;
}
.ArReq em{
    position: relative;
    margin-top: -10px;
    color: red;
    float: right;
}
.submit-button{
    background-color: #003865;
    color:white;
}
input{
    font-size: 16px;
}
#errorAlert{
    overflow-x: hidden;
}







@media (max-width: 500px) {
    #reset {
        font-size: 25px;
    }
}

@media (min-width:501px) and (max-width: 1200px) {
    #reset {
        font-size: 25px;
    }
}
@media (min-width:1201px) and (max-width: 1414px) {
    #reset {
        font-size: 25px;
    }
}