<form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)">
    <div id="header">
        <div id="reset">{{'reset.title' | translate}}</div>
        <!-- <div>Enter your email to re</div> -->
    </div>
    <div id="errorAlert" *ngIf="showError" class="alert alert-danger" role="alert">
        <span [innerHTML]="errorMessage"></span>
    </div>
    <span id="fake" style="display: none;"></span>
    <!-- <div *ngIf="showSuccess" class="alert alert-success" role="alert">
        Your password has been reset. Please <a [routerLink]="['/authentication/login']"> click here to log in. </a>
    </div> -->
    <div class="form-outline mb-3">
        <input type="password" class="form-control form-control-lg" id="password" name="password"formControlName="password"
            placeholder="{{'reset.password.placeholder' | translate}}" required/>
    </div>
    <div *ngIf="lang!='ar'" class="req">
        <em *ngIf="validateControl('password') && hasError('password', 'required')">{{'reset.passwordRequired' | translate}}</em>
    </div>
    <div *ngIf="lang=='ar'" class="ArReq">
        <em *ngIf="validateControl('password') && hasError('password', 'required')">{{'reset.passwordRequired' | translate}}</em>
    </div>

    <div class="form-outline mb-3">
        <input type="password" class="form-control form-control-lg" id="confirm" name="confirm"formControlName="confirm"
            placeholder="{{'reset.confirmPassword.placeholder' | translate}}" required/>
    </div>
    <div *ngIf="lang!='ar'" class="req">
        <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">{{'reset.confirmationRequired' | translate}}</em>
        <em *ngIf="hasError('confirm', 'mustMatch')">{{'reset.notEqualError' | translate}}</em>
    </div>
    <div *ngIf="lang=='ar'" class="ArReq">
        <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">{{'reset.confirmationRequired' | translate}}</em>
        <em *ngIf="hasError('confirm', 'mustMatch')">{{'reset.notEqualError' | translate}}</em>
    </div>
    <!-- <div *ngIf="isNotEqual" class="alert alert-danger">password don't match.</div>
    <div *ngIf="isError && !isNotEqual" class="alert alert-danger">Sorry! Internal Server error.</div> -->

    <div class="text-center text-lg-start mt-4 pt-2">
        <div class="text-center">
        <button *ngIf="lang!='ar'" type="button" class="btn submit-button btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem;width: 100%;"type="submit" [disabled]="!resetPasswordForm.valid">
            <span *ngIf="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            {{'reset.button.name' | translate}}
            <span *ngIf="loading"  aria-hidden="true">...</span>
        </button>
        <button *ngIf="lang=='ar'" type="button" class="btn submit-button btn-lg"
        style="padding-left: 2.5rem; padding-right: 2.5rem;width: 100%;"type="submit" [disabled]="!resetPasswordForm.valid">
        <span *ngIf="loading"  aria-hidden="true">...</span>{{'reset.button.name' | translate}} <span *ngIf="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    </button>


        </div>
        <p class="small fw-bold mt-2 pt-1 mb-0 text-center">{{'ForgotPassword.goToLogin' | translate}} <a [routerLink]="['/authentication/auth/1']"
            class="link-primary lin" >{{'ForgotPassword.login.link' | translate}}</a></p>
    </div>

</form>
<!-- <div class="card">
    <div class="card-body">
        <h1 class="card-title">Reset Password</h1>

        <div *ngIf="showError" class="alert alert-danger" role="alert">
            <span [innerHTML]="errorMessage"></span>
        </div>

        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
            Your password has been reset. Please <a [routerLink]="['/authentication/login']"> click here to log in. </a>
        </div>

        <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)">
            <div class="mb-3 row">
                <label for="password" class="col-form-label col-sm-2">Password:</label>
                <div class="col-md-5">
                    <input type="password" id="password" formControlName="password" class="form-control" />
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="confirm" class="col-form-label col-sm-2">Confirm Password:</label>
                <div class="col-md-5">
                    <input type="password" id="confirm" formControlName="confirm" class="form-control" />
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmation is required</em>
                    <em *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
                </div>
            </div>
            <br>
            <div class="mb-3 row">
                <div class="col-md-1">          
                    <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div> -->