#reset{
    font-weight:bolder;
    font-size: 35px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 25px;
}
#header{
    margin: 20px;
    font-size: 20px;
}
.req em{
    margin-top: -10px;
    color: red;
    float: left;
}