em{
    color: #e71515;
    font-weight: bold;
}

.ng-invalid.ng-touched{
    border-color: red;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% );
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
#login{
    font-weight:bolder;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 25px;
}
#header{
    margin: 20px;
    font-size: 20px;
}
.submit-button{
    background-color: #003865;
    color:white;
}
