
<mat-nav-list>
    <div class="header" >

        
        <table cellspacing="0" cellpadding="0" >


<tr>
  <td style="color: rgb(77, 77, 77);font-size: small;" class="h4">   <mat-icon style="color: grey;vertical-align: middle;">signpost</mat-icon><b>postal code:</b>
  
</td></tr>
<tr>
  <td style="color: rgb(77, 77, 77);font-size: small;" class="h4">   <mat-icon style="color: grey;vertical-align: middle;">attach_money</mat-icon><b>gender</b> 
</td></tr>
<tr>
  <td style="color: rgb(77, 77, 77);font-size: small;" class="h4">   <mat-icon style="color: grey;vertical-align: middle;">date_range</mat-icon><b>Date de naissance:</b> 
</td></tr>
<tr>
  <td style="color: rgb(77, 77, 77);font-size: small;">   <mat-icon style="color: grey;vertical-align: middle;">earth</mat-icon><b>address1 région:</b>  </td>
</tr>

<tr>

  <td style="color: rgb(77, 77, 77);font-size: small;" class="h4">   <mat-icon style="color: grey;vertical-align: middle;">cell_wifi</mat-icon><b>Mode de communication:</b> 
</td></tr></table></div></mat-nav-list>