
<mat-nav-list>
    <div class="header" >

        
        <table cellspacing="0" cellpadding="0" >
<h5 matSubheader >à propos l'entreprise</h5>

<tr>
  <td style="color: rgb(77, 77, 77);font-size: small;" class="h4">   <mat-icon style="color: grey;vertical-align: middle;">supervisor_account</mat-icon><b>Contact principal:</b> David
</td></tr>
<tr>
  <td style="color: rgb(77, 77, 77);font-size: small;" class="h4">   <mat-icon style="color: grey;vertical-align: middle;">attach_money</mat-icon><b>Chiffre d'affaires annuel:</b> 1000$
</td></tr>
<tr>
  <td style="color: rgb(77, 77, 77);font-size: small;" class="h4">   <mat-icon style="color: grey;vertical-align: middle;">perm_contact_calendar</mat-icon><b>Adresse:</b> Oujda
</td></tr>
<tr>
  <td style="color: rgb(77, 77, 77);font-size: small;" class="h4">   <mat-icon style="color: grey;vertical-align: middle;">home</mat-icon><b>L'entreprise:</b> CPU
</td></tr></table></div></mat-nav-list>