
table{
    margin-bottom: 20px;
  }
  th, td{
    border: 1px solid black;
    padding: 10px;
  }
  .table{
    empty-cells: hide;
  }
  app-footer{
    position: absolute;
    bottom: 0;
  }
  // .ag-paging-panel {
  //   justify-content: flex-start;
  // }