.modHeadTxt{
    position: relative;
    float: right;
    text-align: end;
    width: 100%;
    font-size: 25px;
    margin-top: 28px;
    margin-right: 5px;
}
.modBodyTxt{
    position: relative;
    float: right;
    text-align: end;
    width: 100%;
    font-size: 15px;
    margin-right: 30px;
}
.modbtn{
    position: relative;
    right: 420px;
    // float: right;
}