.sendTo{
    cursor: pointer;
}
.spinner {
    display: block;
    position: absolute;
    top: 50%;
    right: 25%;
    left: 25%;
    display: flex;
    justify-content: center;
}
.point{
    cursor: pointer;
}