<!-- <h1>Home Page</h1>

<br>
<div *ngIf="isUserAuthenticated()" style="color:blue;">
    <h2>
        YOU ARE LOGGED IN
    </h2>
</div>

<br>
<ul>
    <li><a routerLink="/customers">Customer</a></li>
    <li *ngIf="!isUserAuthenticated()"><a routerLink="/authentication/auth/1">Login</a></li>
    <li *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Log out</a></li>
</ul>
<div class="offset-10 col-md-2 mt-2" *ngIf="!isUserAuthenticated()"> <a [routerLink]="['/authentication/auth/0']">Register</a> </div>

-->
<!DOCTYPE html>
<html>
<head>
	<title>CRMP</title>
	<!-- <link rel="stylesheet" type="text/css" href="./style.css"> -->

</head>
<body>

<div class="container" id="container" [ngClass]="{'right-panel-active':cont}">
<div class="form-container sign-up-container">
<form action="SignupNv.html">
	<h1>Création du Compte</h1>
	<br>
	<span>Utilisez votre email et démarrée la recherche</span>
	<input type="email" name="email" placeholder="Email">

	<button>Démmarer</button>
</form>
</div>


<div class="form-container sign-in-container" >
	<form action="#">
		<h1>Se connecter</h1>
		<br>
	<span>Ou bien utilisée votre compte</span>
	<input type="email" name="email" placeholder="Email">
	<input type="password" name="password" placeholder="Mots de passe">
	<a href="#">Mots de passe oublier</a>

	<button (click)="appendClass()" >Se Connecter</button>
	</form>
</div>
<div class="overlay-container" >
	<div class="overlay">
		<div class="overlay-panel overlay-left">
			<h1>Bonjour!</h1>
			<p>Pour rester en contact avec nous, veuillez vous connecter avec vos informations personnelles</p>
			<button class="ghost" id="signIn" (click)="appendClass()">Se Connecter</button>
		</div>
		<div class="overlay-panel overlay-right">
			<h1>Bonjour!</h1>
			<p>Entrée vos détails et démmarée votre journée avec nous!</p>
			
			<button class="ghost" id="signUp" (click)="appendClass()">Registration</button>
		</div>
	</div>
</div>
</div>




</body>
</html>









