<h2 style="color: rgb(81, 81, 81);">Details Contact</h2>
<mat-divider></mat-divider>
<section *ngIf="notFound; else loading">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-lg-8 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <!-- <div class="col-md-4 gradient-custom text-center text-white"
                            style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;"> -->
                            <div id="child" class="text-black">
                                <img *ngIf="Data?.entityimage" src={{Data?.entityimage}}
                                    class="rounded-circle img-fluid my-5" alt="Avatar" style="width: 80px;" />
                                <img *ngIf="!Data?.entityimage" src="../../../../../assets/images/unkown.jfif"
                                    class="rounded-circle img-fluid " alt="Avatar" style="width: 80px;" />
                                <!-- <h5 style="font-size:20px ;" class="name">{{Data?.firstname}} {{Data?.lastname}}</h5>
                                <p style="color:#F9F3EE;">{{Data?.jobtitle}}</p> -->
                            </div>
                        <!-- </div> -->
                        <div class="col-md-12">
                            <div class="card-body px-4">

                                <h5 style="font-size:20px; position: relative;float: right;margin-top: -60px;color: #00193a;" class="name">{{Data?.firstname}} {{Data?.lastname}}</h5>
                                <!-- <p style="color:#F9F3EE;">{{Data?.jobtitle}}</p> -->
                                <h6 style="text-align: center;font-size: large;">{{Data?.jobtitle}} at {{Data?.parentcustomerid_account.name}}
                                </h6>

                                <!-- <hr class="mt-0 mb-4"> -->
                                <div class="row pt-1 mx-1 mb-0">
                                    <div class="line">
                                        <div>
                                            <dt class="font-bold mb-1">First Name</dt>
                                        </div>
                                        <div>
                                            <p class="text-muted mb-1 s">{{Data?.firstname}}</p>
                                        </div>
                                        <!-- <div>
                                        </div> -->
                                    </div>


                                    <p>
                                    <div class="line">
                                        <div>
                                            <dt class="mb-1">Last Name</dt>
                                        </div>
                                        <div>
                                            <p class="text-muted mb-1">{{Data?.lastname}}</p>
                                        </div>
                                        <!-- <div></div> -->
                                    </div>
                                    <p>
                                    <div class="line">
                                        <div>
                                            <dt class="mb-1">Birth Date</dt>
                                        </div>
                                        <div>
                                            <p class="text-muted mb-1">{{Data?.birthdate}}</p>
                                        </div>
                                        <!-- <div></div> -->
                                    </div>
                                    <p>
                                    <div class="line">
                                        <div>
                                            <dt class="mb-1">Gender</dt>
                                        </div>
                                        <div>
                                            <p class="text-muted mb-1">{{Data?.gendercode==1?"men":"women"}}</p>
                                        </div>
                                        <!-- <div></div> -->
                                    </div>
                                    <p>
                                    <div class="line">
                                        <div>
                                            <dt class="mb-1">Family status</dt>
                                        </div>
                                        <div>
                                            <p class="text-muted mb-0">{{familyStatus[Data?.gendercode]}}</p>
                                        </div>
                                        <!-- <div></div> -->
                                    </div>
                                </div>
                                <div class="row pt-0 mt-0" id="more" style="display:none ;">
                                    <li class="list-group-item d-flex justify-content-between align-items-center px-3 py-2">
                                        <dt class="mb-0" >Business Phone</dt>
                                        <p class="text-muted mb-0">{{Data?.telephone1}}</p>
                                        <!-- <p></p> -->
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center px-3 py-2">
                                        <dt class=" mb-0">Mobile Phone</dt>
                                        <p class="text-muted mb-0">{{Data?.mobilephone}}</p>
                                        <!-- <p></p> -->
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center px-3 py-2">
                                        <dt class=" mb-0">Fax</dt>
                                        <p class="text-muted mb-0">{{Data?.fax}}</p>
                                        <!-- <p></p> -->
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center px-3 py-2">
                                        <dt class=" mb-0">Email</dt>
                                        <p class="text-muted mb-0">{{Data?.emailaddress1}}</p>
                                        <!-- <p></p> -->
                                    </li>
                                </div>
                            </div>
                            <div id="btnContainer">
                                <div class="btn-image" (click)="myFunction()" id="myBtn">
                                    <span *ngIf="!isMore" class="material-icons">keyboard_arrow_down</span>
                                    <span *ngIf="isMore" class="material-icons">keyboard_arrow_up</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<ng-template #loading>
    <div class="spinner">

        <div>
            <span class="spinner-border spinner-border-sm mx-2" role="status"></span>Loading...
        </div>
    </div>
    <div class="spinner" id="spinner"></div>
</ng-template>
