<section *ngIf="notFound; else loading">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white"
                            style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <div id="child">
                                <img src="../../../../../assets/images/unkown.jfif"
                                    class="rounded-circle img-fluid my-5" alt="Avatar" style="width: 80px;" />
                                <h5 style="font-size:20px ;" class="name">{{Data?.firstname}} {{Data?.lastname}}</h5>
                                <p style="color:#F9F3EE;">{{Data?.jobtitle}}</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">

                                <h6 style="text-align: center;font-size: large;">{{Data?.parentcustomerid_account.name}}</h6>

                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="line">
                                        <div>
                                            <dt class="font-bold mb-0">First Name</dt>
                                        </div>
                                        <div>
                                            <p class="text-muted mb-0 s">{{Data?.firstname}}</p>
                                        </div>
                                        <!-- <div>
                                        </div> -->
                                    </div>


                                    <p>
                                    <div class="line">
                                        <div>
                                            <dt class="mb-0">Last Name</dt>
                                        </div>
                                        <div>
                                            <p class="text-muted mb-0">{{Data?.lastname}}</p>
                                        </div>
                                        <!-- <div></div> -->
                                    </div>
                                    <p>
                                    <div class="line">
                                        <div>
                                            <dt class="mb-0">Birth Date</dt>
                                        </div>
                                        <div>
                                            <p class="text-muted mb-0">{{Data?.birthdate}}</p>
                                        </div>
                                        <!-- <div></div> -->
                                    </div>
                                    <p>
                                    <div class="line">
                                        <div>
                                            <dt class="mb-0">Gender</dt>
                                        </div>
                                        <div>
                                            <p class="text-muted mb-0">{{Data?.gendercode==1?"men":"women"}}</p>
                                        </div>
                                        <!-- <div></div> -->
                                    </div>
                                    <p>
                                    <div class="line">
                                        <div>
                                            <dt class="mb-0">Family status</dt>
                                        </div>
                                        <div>
                                            <p class="text-muted mb-0">{{familyStatus[Data?.gendercode]}}</p>
                                        </div>
                                        <!-- <div></div> -->
                                    </div>
                                </div>
                                <hr class="mt-5 mb-3">
                                <div class="row pt-1">
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <p class="mb-0" style="color: #3AB0FF;">Business Phone</p>
                                        <p class="text-muted mb-0">{{Data?.telephone1}}</p>
                                        <!-- <p></p> -->
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <p class=" mb-0" style="color: #3AB0FF;">Mobile Phone</p>
                                        <p class="text-muted mb-0">{{Data?.mobilephone}}</p>
                                        <!-- <p></p> -->
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <p class=" mb-0" style="color: #3AB0FF;">Fax</p>
                                        <p class="text-muted mb-0">{{Data?.fax}}</p>
                                        <!-- <p></p> -->
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <p class=" mb-0" style="color: #3AB0FF;">Email</p>
                                        <p class="text-muted mb-0">{{Data?.emailaddress1}}</p>
                                        <!-- <p></p> -->
                                    </li>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-template #loading>
    <div class="spinner">

        <div>
            <span class="spinner-border spinner-border-sm mx-2" role="status"></span>Loading...
        </div>
    </div>
    <div class="spinner" id="spinner"></div>
</ng-template>